.todoItem{
    min-height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin-bottom: 15px;
}
.cheked{
    opacity: 0.5;
}
.deleteButton{
    display: inline-block;
    color: white;
    background: #c71e1e;
    width: 80px;
    height: 100%;
    border: none;
}