*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Известие;
    color: black;
}
body{
    background-color: #972500;
}
.mainLayer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoLayer{
    color: white;
    text-align: center;
    max-width: 600px;
    height: auto;
    padding: 20px;
    background-color: #FAEA97;
}

@font-face{
    font-family: Звезда;
    src: url('media/RedOctober.ttf')
}
@font-face{
    font-family: Известие;
    src: url('media/Izvest.ttf')
}